<style>
.footer {
  background-color: rgb(164, 87, 236);
  padding: 20px 0;
  text-align: center;
  position: relative;
  margin-top: 60vh; /* Negative height of the footer */
  height: 50px;
  clear: both;
}

.text {
  color: white;
  font-size: 14px;
  margin: 0;
}

</style>
<footer class="footer">
    <div class="container">
      <p class="text">Bug Tracker Web App &copy; 2023. All rights reserved.</p>
    </div>
</footer>