<!-- _header is being to differentiate from other files, since header and footer is going to be fixed so made 
diffrent two files and interolate it in files using LAYOUT feature in ejs -->
<nav class="navbar navbar-light" style="background-color: #b6dffc;">
  <a href="/" ><i class="fa fa-home" aria-hidden="true"></i></a>

    <div class="container">
      <a class="navbar-brand" href="/">
        <h2>Issue Tracker</h2>
        <i class="fa-solid fa-house"></i>
      </a>
    </div>
</nav>